<?xml version="1.0" encoding="utf-8"?>
<manifest package="yjy.com.accounts"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".application.ACApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".function.note.AccountActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".function.list.AccountChartListActivity"/>
        <activity android:name=".function.list.AccountDetailListActivity"/>
    </application>

</manifest>
